#feedback-main-container>h3 {
    padding-block: 5%;
    text-align: center;
}

#tell-td> a {
    color: rgb(2, 118, 234);
    font-size: 14px;
    text-decoration: underline;
}

#email-td > a{
    color: black;
    font-weight: 100;
    font-size: 14px;
}