#navigation-top-main {
    width: 100%;
    height: 70px;
    background-color: white;
    max-width: 768px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

#navigation-top-main > figure {
    width: 55px;
    height: 55px;
}

#navigation-top-main > figure> img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#navigation-more-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#more-info-menu {
    
}