@font-face {
    font-family: Poppins;
    src: url(../Icons/Poppins-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.07rem;
    font-family: Poppins;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #d6d6d648;
}

#root {
    max-width: 768px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative !important;
}

#router {
    width: "100%";
    height: 100vh;
    background-color: #fafafa;
    position: relative;
}